.pink,
.green,
.yellow {
    color: #000
}

div.page_loading {
    height: 4px;
    width: 100%;
    overflow: hidden;
    position: absolute
}

div.page_loading.on {
    opacity: 1;
    transition: opacity 1s
}

div.page_loading.on.fade_out {
    opacity: 0
}

div.page_loading.on:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    animation: loading 2s linear infinite
}

div.page_loading.on.silver:before {
    background-color: #959595
}

div.page_loading.on.pink:before {
    background-color: #ea148c
}

div.page_loading.on.purple:before {
    background-color: #805be7
}

div.page_loading.on.green:before {
    background-color: #01d277
}

div.page_loading.on.teal:before {
    background-color: #01c6ac
}

div.page_loading.on.light_blue:before {
    background-color: #01acc6
}

div.page_loading.on.blue:before {
    background-color: #0177d2
}

div.page_loading.on.orange:before {
    background-color: #d27701
}

div.page_loading.on.yellow:before {
    background-color: #d29001
}

div.page_loading.on.red:before {
    background-color: #d40242
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%
    }
    50% {
        width: 30%
    }
    70% {
        width: 70%
    }
    80% {
        left: 50%
    }
    95% {
        left: 120%
    }
    to {
        left: 100%
    }
}

div.header {
    background-position: 0px 0px;
    background-color: #0a1526;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box
}

div.header.gradient {
    width: 100%;
    z-index: 0
}

.gradient.silver {
    background-image: radial-gradient(at 30% top, #24343b 0%, #081c24 70%)
}

.gradient.pink {
    background-image: radial-gradient(at 30% top, #341a38 0%, #081c24 70%)
}

.gradient.purple {
    background-image: radial-gradient(at 30% top, #20284a 0%, #081c24 70%)
}

.gradient.green {
    background-image: radial-gradient(at 30% top, #074034 0%, #081c24 70%)
}

.gradient.teal {
    background-image: radial-gradient(at 30% top, #073d3f 0%, #081c24 70%)
}

.gradient.light_blue {
    background-image: radial-gradient(at 30% top, #073844 0%, #081c24 70%)
}

.gradient.blue {
    background-image: radial-gradient(at 30% top, #072e46 0%, #081c24 70%)
}

.gradient.orange {
    background-image: radial-gradient(at 30% top, #2f2e1d 0%, #081c24 70%)
}

.gradient.yellow {
    background-image: radial-gradient(at 30% top, #2f331d 0%, #081c24 70%)
}

.gradient.red {
    background-image: radial-gradient(at 30% top, #30172a 0%, #081c24 70%)
}

div.header.gradient.background_image {
    background-image: radial-gradient(at 30% top, rgba(8, 28, 36, 0.5) 0%, rgba(8, 28, 36, 0.75) 70%)
}

#account_scroll {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

#account_scroll.stick {
    width: 100%;
    position: fixed;
    top: 104px;
    z-index: 3
}

div.block div.inner_content {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

div.header div.inner_content {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -250px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 40px 0
}

div.header div.inner_content.tight {
    padding: 20px 0
}

div.header.silver div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg")
}

div.header.pink div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/pink-37bff5abbba8578bee5e51fc0115cf819c4918f4f6dfe3804737eb5f9b84f2a0.svg")
}

div.header.purple div.inner_content {
    background-image: url("https://www.themoviedb.org/static_cache/v4/account_pipes/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg")
}

div.header.green div.inner_content {
    background-image: url("https://www.themoviedb.org/static_cache/v4/account_pipes/green-79a9507a08a7e5a9b8c643a69026fe46191c45972cb45b944ab4b5f8a9110b03.svg")
}

div.header.teal div.inner_content {
    background-image: url("https://www.themoviedb.org/static_cache/v4/account_pipes/teal-2b30e621b46abc5f5c1c192b0adfbf81793a9f082d749fc3d20047a4ef10c27f.svg")
}

div.header.light_blue div.inner_content {
    background-image: url("https://www.themoviedb.org/static_cache/v4/account_pipes/light_blue-0f97154ae86b931070cb20789ef70bfcc1b259bc28cfb1b41ab9afe169683174.svg")
}

div.header.blue div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/blue-ad2008f9b378cedc9a1c31b6be9ee3c18589137e4495ed05586c3cb09a95d3f2.svg")
}

div.header.orange div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/orange-17e330d2d6a99f8f2845928bf31675f4f600c8e743a51121b752de7fd09fdae0.svg")
}

div.header.yellow div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/yellow-b8b0d03570e5f22479349fcc66139d3f397ea42d9fa7254f6dbdae1086fc263e.svg")
}

div.header.red div.inner_content {
    background-image: url("/static_cache/v4/account_pipes/red-b64316df5633aa0687196d10fa429418035b55122c0b5726082669b9748a0e2a.svg")
}

div.header.gradient.background_image {
    background-color: rgba(10, 21, 38, 0.55)
}

div.header.gradient.background_image div.inner_content {
    background-image: none
}

div.bg_image {
    position: relative
}

div.bg_image:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    filter: brightness(110%) contrast(110%) grayscale(100%)
}

a.button:hover {
    background-color: #081c24;
    border-color: #081c24
}

a.button.background_color {
    color: #fff;
    font-weight: 700
}

p.button {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em
}

div.block div.inner_content div.content {
    color: #fff;
    width: 1000px;
    box-sizing: border-box;
    display: flex
}

div.block.header div.inner_content div.content>div {
    display: flex;
    align-items: center
}

div.header div.inner_content.tight div.content {
    align-items: center
}

div.header div.inner_content div.content span.avatar {
    box-sizing: border-box;
    width: 150px;
    height: 150px
}

div.header div.inner_content.tight div.content span.avatar {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-right: 20px
}

div.header div.inner_content div.content span.avatar a {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%
}

div.header div.inner_content div.content span.avatar a img {
    border-radius: 50%
}

div.header div.inner_content div.content span.avatar img,
div.header div.inner_content div.content span.avatar span {
    width: 100%;
    height: 100%
}

div.header div.inner_content.tight div.content span.avatar img,
div.header div.inner_content.tight div.content span.avatar span {
    width: 50px;
    height: 50px
}

div.header div.inner_content div.content span.avatar span {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 4em
}

div.header div.inner_content.tight div.content span.avatar span {
    font-size: 1.5em
}

div.header div.inner_content div.about {
    box-sizing: border-box;
    width: 850px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

div.header div.inner_content.tight div.about {
    padding-left: 0
}

div.header.no_image div.inner_content.tight div.about {
    padding-left: 0
}

div.header div.inner_content div.about a {
    color: #fff;
    display: inline-block
}

div.header div.inner_content div.about h2 {
    font-weight: 700;
    font-size: 2.2em;
    display: inline-block;
    margin: 0;
    margin-right: 10px
}

div.header div.inner_content div.about h2 a {
    font-weight: 700
}

div.header div.inner_content div.about h3 {
    display: inline-block;
    opacity: 0.7;
    font-size: 1.1em
}

div.header div.inner_content div.about h3 span.glyphicons {
    top: 2px;
    font-size: 0.9em;
    margin-left: 4px
}

div.header div.inner_content div.about div.content_wrapper {
    width: 100%;
    padding: 10px 0
}

div.header div.inner_content div.about div.content_wrapper p:last-of-type {
    margin-bottom: 0
}

div.header div.inner_content div.about div.content_wrapper.flex {
    display: flex;
    align-items: center
}

div.header div.inner_content div.about div.content_wrapper:first-of-type {
    padding: 0;
    align-items: baseline
}

div.header div.inner_content div.about div.content_wrapper:last-of-type {
    padding-bottom: 0
}

div.header div.inner_content div.about div.content_wrapper div.block {
    display: inline-flex;
    align-items: center
}

div.header div.inner_content div.about div.content_wrapper div.block span.social {
    font-size: 2em
}

div.header div.inner_content div.about div.content_wrapper div.block a.social_link {
    margin-right: 10px;
    display: block;
    line-height: 1em
}

div.header div.inner_content div.about div.content_wrapper div.block:last-of-type a.social_link {
    margin-right: 0
}

div.header div.inner_content div.about div.content_wrapper div.block:first-of-type {
    padding-left: 0
}

/*div.header div.inner_content div.about div.content_wrapper div.block:first-of-type div.text {*/
    /*border-right: 1px solid #fff*/
/*}*/

div.header div.inner_content div.about div.content_wrapper div.block:nth-of-type(2) div.text {
    margin-right: 0
}

div.header div.inner_content div.about div.content_wrapper div.block div.text {
    display: inline-block;
    height: auto;
    padding: 0 30px 0 15px;
    margin-right: 30px
}

div.header div.inner_content div.about div.content_wrapper div.social_links {
    display: flex;
    align-items: center
}

div.header div.inner_content div.about div.content_wrapper div.social_links div.block:first-of-type {
    border-left: 1px solid #fff;
    padding-left: 30px;
    min-height: 40px
}

div.consensus div.outer_ring {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 4px;
    background-color: #081c22
}

div.consensus .user_score_chart {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center
}

div.consensus .user_score_chart canvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0
}

div.consensus .user_score_chart .percent {
    width: 100%;
    height: 100%;
    z-index: 2
}

div.consensus .user_score_chart .percent .icon {
    font-size: 1.1em;
    color: #fff;
    padding-left: 2px
}

div.block div.content ul.menu {
    padding-top: 20px;
    display: flex;
    align-items: baseline
}

div.block div.content ul.menu li {
    font-size: 1.2em;
    margin: 0 20px
}

div.block div.content ul.menu li:first-of-type {
    margin-left: 0
}

div.block div.content ul.menu li:last-of-type {
    margin-right: 0
}

div.block div.content ul.menu li a {
    font-weight: 600;
    color: #a3a3a3;
    transition: all 0.3s
}

div.block div.content ul.menu li a:hover {
    color: #000
}

div.block div.content ul.menu li.selected a {
    color: #000
}

div.block div.content ul.menu li.selected {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 5px
}

div.block div.content ul.menu li.active a {
    color: #000;
}

div.inner_block {
    margin-top: 40px
}

div.inner_block.no_top_margin {
    margin-top: 0
}

div.inner_block:last-of-type {
    margin-bottom: 40px
}

div.inner_block div.inner_content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

main>div.inner_block>div.inner_content>div.content,
div.account_page_data div.inner_block div.inner_content div.content {
    width: 1000px
}

div.inner_block div.inner_content div.content h2 {
    font-weight: 700;
    margin-bottom: 10px
}

div.inner_block div.inner_content div.content p img.emoji {
    width: 24px;
    height: 24px;
    vertical-align: middle
}

div.inner_block div.inner_content div.content ol.most_watched {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1em;
    font-weight: 700
}

div.inner_block div.inner_content div.content ol.most_watched li {
    margin: 0;
    padding: 0
}

div.inner_block div.inner_content div.content div.graph {
    margin: 0
}

div.inner_block div.inner_content div.content div.title_header {
    display: flex;
    align-items: baseline;
    justify-content: space-between
}

div.inner_block div.inner_content div.content div.title_header div.title_group,
div.inner_block div.inner_content div.content div.title_header div.filter_group {
    display: flex;
    align-items: baseline
}

div.inner_block div.inner_content div.content div.title_header div.filter_group {
    flex-wrap: nowrap;
    align-items: baseline
}

div.inner_block div.inner_content div.content div.title_header div.title_group div,
div.inner_block div.inner_content div.content div.title_header div.filter_group div {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline
}

div.inner_block div.inner_content div.content div.title_header div.filter_group div.sort_filter.hide {
    display: none
}

div.inner_block div.inner_content div.content div.title_header div.filter_group div.sort_filter.hide+div.group_wrapper {
    width: 100%
}

div.inner_block div.inner_content div.content div.title_header h3 {
    margin: 0 0 0 20px;
    font-weight: 700
}

div.inner_block div.inner_content div.content div.title_header h3.on {
    padding-bottom: 4px;
    border-width: 4px;
    border-bottom-style: solid
}

div.inner_block div.inner_content div.content div.title_header h3 span {
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 4px;
    opacity: 0.7
}

div.inner_block div.inner_content div.content div.title_header h4 {
    font-weight: 300;
    font-size: 1.1em;
    position: relative;
    top: 0;
    left: 0
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: visible
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown {
    display: flex;
    align-items: baseline;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 16px;
    margin: 0
}

div.inner_block div.inner_content div.content div.title_header div.order_filter {
    display: flex;
    align-items: center
}

div.inner_block div.inner_content div.content div.title_header div.order_filter.hide {
    display: none
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown.filters {
    min-width: 100px
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort {
    margin-right: 10px;
    font-size: 1.4em;
    padding: 0
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort a {
    padding: 10px 8px 0 8px
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown span {
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 3px;
    z-index: 2;
    width: 100%
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort a span {
    padding: 0;
    top: 4px
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.sort_text span.text {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown a.selected {
    border: none;
    cursor: pointer
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.border_color:hover {
    cursor: pointer
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.border_color {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

div.inner_block div.inner_content div.content div.title_header span.glyphicons {
    box-sizing: border-box;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    top: 4px
}

div.inner_block div.inner_content div.content div.title_header div.group_dropdown span img {
    width: 11px;
    height: 6px;
    padding-left: 12px
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul {
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul li {
    white-space: nowrap
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul li.selected {
    display: none
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper:hover div.group_dropdown ul {
    animation: fadeIn 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 40px 16px 10px 16px;
    box-sizing: border-box;
    overflow: visible
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper form.hide {
    display: none
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper form {
    display: inline-block;
    animation: fadeIn 0.3s;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper form input {
    font-size: 1em;
    display: inline-block;
    background: transparent;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px;
    box-sizing: border-box;
    width: 100%
}

div.inner_block div.inner_content div.content div.title_header div.group_wrapper form input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

div.inner_block div.inner_content div.content div.title_header a.button {
    padding: 4px 8px;
    margin-left: 20px
}

div.inner_block div.inner_content div.content div.stats_blocks {
    display: flex;
    justify-content: space-between
}

div.inner_block div.inner_content div.content div.stats_blocks div.stat_block {
    box-sizing: border-box
}

div.inner_block div.inner_content div.content div.stats_blocks div.stat_block h2 {
    font-size: 4.2em;
    line-height: 0.7em;
    margin: 0
}

div.inner_block div.inner_content div.content div.stats_blocks div.stat_block h3 {
    color: #081c24;
    margin: 0 0 6px 0
}

div.inner_block div.inner_content div.content p:last-child {
    margin: 0
}

div.inner_block div.inner_content div.content p.button {
    margin-top: 40px
}

div#genre_chart {
    height: 100px;
    width: 200px;
    overflow: visible
}

div#rating_histogram_chart {
    width: 290px;
    height: 70px
}

div#rating_date_histogram {
    width: 100%;
    height: 100px;
    margin-bottom: 20px
}

div.results_page {
    margin-top: 30px
}

div.results_page:first-of-type {
    margin-top: 0
}

div.card.v4 {
    display: flex;
    border: 1px solid #e3e3e3
}

div.card.v4+div.card.v4 {
    margin-top: 30px
}

div.card.v4 div.image {
    width: 150px;
    box-sizing: border-box
}

div.card.v4.movie.adult_true div.image img,
div.card.v4.tv.adult_true div.image img {
    filter: blur(20px);
    transform: scale(1.4)
}

div.card.v4 div.image img {
    width: 150px;
    height: 225px;
    display: block
}

div.card.v4 div.details {
    width: 850px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between
}

div.card.v4 div.details div.flex_space_between {
    width: 100%
}

div.card.v4 div.details div.title_meta img {
    padding-top:   0.3em;
    padding-right: 0.6em;
}

div.card.v4 div.details div.title {
    display: flex;
    align-items: baseline;
    overflow: hidden;
    margin-right: auto;
}

div.card.v4 div.details div.title a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

div.card.v4 div.details div.title h2 {
    font-size: 1.2em;
    margin-right: 10px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*div.card.v4 div.details div.title span.release_date {*/
    /*white-space: nowrap;*/
/*}*/

div.card.v4 div.details span.release_date {
    white-space: nowrap;
    padding-right: 2em;
}

.reported_by {
    margin-left:   auto;
    margin-right:  0;
    margin-top:    0.3em;
    padding-right: 1.2em;
}

div.card.v4 div.details div.title div.rating {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #081c24;
    border-radius: 50%;
    color: #fff;
    font-size: 0.7em
}

div.card.v4 div.details div.overview {
    height: 4.2em;
    max-height: 4.2em;
    overflow: hidden
}

div.card.v4 div.details p {
    color: #081c24
}

div.card.v4 div.action_bar {
    width: 100%;
    box-sizing: border-box;
    display: flex
}

div.card.v4 div.action_bar ul {
    display: flex;
    align-items: center
}

div.card.v4 div.action_bar ul li {
    margin-left: 10px;
    color: #959595;
    display: flex;
    align-items: center
}

div.card.v4 div.action_bar ul li:first-of-type {
    margin-left: 0
}

div.card.v4 div.action_bar ul li a {
    color: #959595;
    display: flex;
    align-items: center;
    padding-right: 7px;
    padding-left: 7px
}

div.card.v4 div.action_bar ul li:first-of-type a {
    padding-right: 7px;
    padding-left: 0
}

div.card.v4 div.action_bar ul li:last-of-type a {
    padding-right: 0;
    padding-left: 7px
}

div.card.v4 div.action_bar ul li a:hover span {
    background-color: #959595;
    border: 1px solid #959595;
    color: #fff
}

div.card.v4 div.action_bar ul li span {
    position: static;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #959595;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 0.7em;
    box-sizing: border-box
}

div.card.v4 div.action_bar ul li span.account_rating {
    border-color: #01d277;
    background-color: #01d277;
    color: #fff;
    font-size: 1.1em;
    line-height: 0;
    font-weight: 700;
    padding-left: 1px
}

div.card.v4 div.action_bar ul li span.glyphicons-remove {
    padding-left: 1px
}

div.card.v4 div.action_bar ul li a.selected span.glyphicons-heart,
div.card.v4 div.action_bar ul li a:hover span.glyphicons-heart {
    background-color: #ef47b6;
    border: 1px solid #ef47b6;
    color: #fff
}

div.card.v4 div.action_bar ul li a span {
    transition: 0.1s linear
}

div.card.v4 div.action_bar ul li a.selected:hover span.glyphicons:before {
    content: '\E208'
}

div.card.v4 div.action_bar ul li a.selected {
    border: none
}

div.activity_media_cards {
    display: flex;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: -8px
}

div.card.v4.mini {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    overflow: hidden;
    border: 1px solid #e3e3e3
}

div.card.v4.mini:first-of-type {
    margin-left: 8px
}

div.card.v4.mini:last-of-type {
    margin-right: 8px
}

div.card.v4.mini+div.card.v4.mini {
    margin-top: 0
}

div.card.v4.mini div.image {
    width: 250px;
    height: 141px;
    overflow: hidden
}

div.card.v4.mini div.image div.backdrop {
    position: relative;
    left: 0;
    top: 0
}

div.card.v4.mini div.image div.backdrop img {
    width: 250px;
    height: 141px
}

div.card.v4.mini div.details {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    flex-wrap: wrap
}

div.card.v4.mini div.details div.title {
    display: block;
    overflow: hidden;
    width: 100%
}

div.card.v4.mini div.details div.title h2 {
    font-size: 1em;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

div.card.v4.mini div.details div.sub_title {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    display: flex;
    justify-content: space-between
}

div.list_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

div.card.v4.list {
    width: 490px;
    height: 275px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0
}

div.card.v4.list+div.card.v4.list {
    margin-top: 0
}

div.card.v4.list div.image {
    width: 490px;
    height: 275px;
    box-sizing: border-box
}

div.card.v4.list div.image img {
    width: 500px;
    height: 282px
}

div.card.v4.list div.details {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px 40px;
    background-color: rgba(8, 28, 36, 0.8)
}

div.card.v4.list div.details h2 {
    color: #fff;
    font-size: 2.2em;
    line-height: 1.1em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    max-height: 4.4em;
    overflow: hidden;
    box-sizing: border-box
}

div.card.v4.list div.details h2 a {
    color: #fff;
    font-weight: 700;
    font-style: italic
}

div.card.v4.list div.details ul {
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: center
}

div.card.v4.list div.details ul li {
    padding-right: 20px
}

div.card.v4.list div.details ul li:last-of-type {
    padding-right: 0
}

div.card.v4.list div.details ul li span.tag {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 6px 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    line-height: 0.8em;
    font-style: normal;
    text-transform: uppercase
}

div.card.v4.list div.details p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5)
}

div.card.v4 div.image img.users {
    width: 150px;
    height: 150px;
    display: block
}

span.admin_user {
    color: red;
}

span.tooltip.glyphicons {
    top: 2px
}

div.activity_graph {
    margin-top: 20px
}

h3.date {
    font-weight: 600;
    font-size: 1.6em;
    color: #acacac;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 8px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    width: 100%
}

div.card+h3.date {
    margin-top: 50px
}

h3.date span.glyphicons {
    margin-right: 6px;
    font-size: 0.9em
}

div.column_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start
}

div.column_wrapper.between {
    justify-content: space-between
}

div.column_wrapper table,
div.column_wrapper div.column_content {
    margin-top: 0;
    margin-bottom: 0
}

div.column_wrapper div.column_content,
div.discussion_container table {
    width: 700px
}

div.discussion_container,
div.account_page_data div.discussion_container table {
    width: 100%
}

div.column_content form h3:first-of-type {
    margin-top: 0
}

div.column_content h3 {
    margin-top: 30px
}

div.column_wrapper div.favourite_boards,
div.column_wrapper div.settings_panel {
    display: block;
    box-sizing: border-box;
    width: 260px;
    border: 1px solid #e3e3e3
}

div.column_wrapper div.settings_panel {
    margin-right: 40px
}

div.column_wrapper div.favourite_boards {
    margin-left: 40px
}

div.column_wrapper div.favourite_boards h3,
div.column_wrapper div.settings_panel h3,
div.column_wrapper div.error_panel h3 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    font-weight: 600;
    padding: 20px;
    color: #fff
}

div.column_wrapper div.favourite_boards h3 {
    justify-content: flex-start
}

div.column_wrapper div.settings_panel h3 a {
    color: #fff;
    height: 19px
}

div.column_wrapper div.settings_panel h3 span {
    display: inline;
    box-sizing: border-box;
    padding: 4px 0
}

div.column_wrapper div.favourite_boards h3 span,
div.column_wrapper div.error_panel h3 span {
    padding-right: 4px
}

div.column_wrapper div.error_panel {
    margin-bottom: 30px
}

div.column_wrapper div.error_panel p {
    padding: 20px
}

div.column_wrapper ul.panel {
    box-sizing: border-box;
    padding: 8px 0
}

div.column_wrapper ul.panel li {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0
}

div.column_wrapper ul.settings.panel li a {
    display: inline-block
}

div.column_wrapper div.favourite_boards p {
    padding: 20px;
    margin: 0
}

div.pagination {
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

div.pagination.hide {
    display: none
}

div.pagination p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0
}

div.pagination p.hide {
    display: none
}

div.pagination p a {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff
}

div.pagination p a:hover {
    color: #0a1526
}

div.pagination div.loading_wrapper.hide {
    width: 50px;
    height: 50px;
    display: none
}

div.pagination div.loading_wrapper.hide div.loader {
    display: none
}

div.pagination div.loading_wrapper div.loader {
    width: 100%;
    height: 100%;
    display: block
}

div.pagination div.loading_wrapper div.loader>div {
    background-color: #fff
}

p.avatar {
    display: flex;
    align-items: center
}

p.avatar img+a {
    margin-left: 8px
}

div.accent_colors {
    display: flex;
    flex-wrap: nowrap
}

div.accent_colors div.color {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

div.accent_colors div.color+div.color {
    margin-left: 10px
}

div.accent_colors div.color.selected {
    border: none
}

div.accent_colors div.color:hover {
    cursor: pointer
}

div.accent_colors div.color:hover::before,
div.accent_colors div.color.selected::before {
    color: #fff;
    font-family: "Glyphicons Regular";
    font-size: 1.2em;
    content: "\e207";
    line-height: 50px;
    width: 50px;
    text-align: center;
    display: block
}

section.content a:hover {
    text-decoration: none
}

section.content button,
section.content input[type=submit],
section.content input[type=submit]:hover {
    font: 700 1.1em/1.4em 'Source Sans Pro', 'Arial', sans-serif;
    background-image: none;
    color: #fff;
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    border-radius: 20px;
    padding: 6px 20px;
    float: none
}

section.content button:hover,
section.content input[type=submit]:hover,
section.content input[type=submit][disabled] {
    background-color: #081c24
}

section.content input[type=submit],
section.content input[type=submit]:hover {
    margin-top: 30px
}

p+form {
    margin-top: 40px
}

div.title_header+p {
    margin: 20px 0
}

table.api_directory {
    margin-top: 30px
}

table.api_directory th:last-of-type {
    padding-left: 20px
}

table.api_directory td:nth-of-type(1) {
    padding-right: 20px
}

table.api_directory td.description {
    max-width: 300px
}

table.api_directory td.description>* {
    display: none
}

table.api_directory td.description p:first-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0
}

div.list div.card.full_width {
    width: 100%;
    flex: 0 0 100%
}

div.list div.card div.title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 96px;
    padding: 16px
}

div.list div.card div.info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    box-sizing: border-box
}

div.list div.card div.title div.image {
    width: 58px;
    height: 58px;
    overflow: hidden
}

div.list div.card div.title div.image div.initials {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: #fff;
    font-size: 1.7em;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center
}

div.list div.card div.title div.text {
    padding-left: 14px
}

div.list div.card.small div.title div.text {
    max-width: 128px
}

div.list div.card div.text h2,
div.list div.card div.text p,
div.list div.card div.text a {
    margin-bottom: 0;
    color: #fff
}

div.list div.card div.text h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em
}

div.list div.card div.text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    padding: 0;
    font-size: 0.9em;
    margin: 0;
    font-weight: 400
}

div.list div.card div.description {
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
    padding: 16px;
    box-sizing: border-box
}

div.list div.card div.description p:last-child,
div.list div.card div.description ul:last-child {
    margin-bottom: 0
}

div.list div.card div.text p+ul {
    padding-top: 0
}

p.logo {
    display: flex;
    align-items: center
}

p.logo img {
    margin-right: 10px
}

h3.api {
    text-align: center;
    margin-bottom: 40px
}

div.choose_api_key_type {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

div.choose_api_key_type div {
    width: 50%;
    text-align: center
}

div.choose_api_key_type div p a {
    display: inline-flex;
    align-items: center
}

div.choose_api_key_type div p span {
    display: inline-block;
    position: static;
    margin-right: 10px
}

div.row {
    width: 100%;
    display: flex
}

div.row div:last-of-type {
    width: 100%;
    margin-left: 30px
}

div.social_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

div.social_wrapper div {
    width: 30%
}

section.content div.social_wrapper label span {
    padding-right: 5px
}

section.content div.metrics_info {
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 30px 0 40px 0
}

section.content div.metrics_info h2 {
    font-size: 1.1em
}

section.content div.metrics_info div.breakdown h2 {
    margin-bottom: 0
}

section.content div.metrics_info h3 {
    font-size: 0.9em;
    color: #999;
    margin: 0
}

section.content div.metrics_info p {
    margin-bottom: 0;
    color: #333
}

section.content div.metrics_info div.breakdown {
    padding: 16px 20px;
    float: left;
    margin-right: 20px
}

section.content ul.tabs {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 0
}

section.content ul.tabs li {
    display: inline-block;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    white-space: nowrap
}

section.content ul.tabs li:first-child {
    border-left: none
}

section.content ul.tabs li.last_child {
    width: 100%;
    text-align: right;
    padding: 0 10px;
    border-bottom: 1px solid #ccc
}

section.content ul.tabs li a {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box
}

section.content ul.tabs li a.active {
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom: none
}

section.content ul.tabs li a {
    color: #000;
    display: block;
    height: 100%;
    padding: 0 40px;
    height: 46px;
    display: flex;
    align-items: center
}

section.content ul.tabs li a:hover {
    text-decoration: none
}

div.rating_wrapper {
    display: none
}

div.discussion_container tr.pagination {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0
}

div.discussion_container tr.pagination.hide {
    display: none
}

div.discussion_container tr.pagination td:last-child {
    width: 100%;
    padding: 0
}

div.discussion_container tr.pagination td:last-child p {
    text-align: center
}

div.discussion_container table td.no_results:last-child {
    padding: 0
}

ol.list_results.backdrops {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 20px 0 0 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

ol.list_results.backdrops li {
    width: 350px
}

ol.list_results.backdrops li div.image {
    width: 100%;
    height: 200px;
    overflow: hidden
}

ol.list_results.backdrops li div.image a {
    display: block;
    line-height: 0;
    text-decoration: none
}

ol.list_results.backdrops li div.image a img {
    transition: 0.2s;
    position: relative;
    top: 0;
    left: 0
}

ol.list_results.backdrops li div.image a:hover img {
    filter: grayscale(100%)
}

ol.list_results.backdrops li div.image a p {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: -120px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    background-color: #00d573;
    color: #fff;
    transition: 0.2s;
    font-weight: 600;
    text-transform: uppercase
}

ol.list_results.backdrops li div.image a p.selected {
    opacity: 1;
    visibility: visible;
    border-bottom: none
}

ol.list_results.backdrops li div.image a:hover p {
    opacity: 1;
    visibility: visible
}

div.inner_block div.inner_content div.content p.no_image:last-child {
    margin-top: 30px
}

div.rating_stars p {
    margin-bottom: 10px;
    white-space: nowrap
}

div#activity_graph {
    margin-bottom: 20px
}
