div.k-window-titleless div.k-window-content {
    padding: 0
}

div#lightbox_popup div.info div.meta span.glyphicons,
section.inner_content ul.images div.info div.meta span.glyphicons {
    width: 20px
}

div#lightbox_popup div.info a,
section.inner_content ul.images div.info a {
    color: #000
}

div#lightbox_popup div.info a:hover,
section.inner_content ul.images div.info a:hover {
    text-decoration: underline
}

div#lightbox_popup div.info form label,
section.inner_content ul.images div.info form label {
    color: #333;
    margin: 16px 0 0 0;
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 0.8em
}

div#lightbox_popup div.info div.meta h3,
section.inner_content ul.images div.info div.meta h3,
div#lightbox_popup div.info form,
section.inner_content ul.images div.info form,
div#lightbox_popup div.info div.rating_info,
section.inner_content ul.images div.info div.rating_info {
    padding: 0 20px
}

div#lightbox_popup div.info div.rating_info,
section.inner_content ul.images div.info div.rating_info {
    margin-bottom: 40px
}

div#lightbox_popup div.info div.meta form span.glyphicons,
section.inner_content ul.images div.info div.meta form span.glyphicons {
    font-size: .8em;
    top: 1px
}

div#lightbox_popup div.info div.meta form span.glyphicons.glyphicons-remove-sign.ratio,
section.inner_content ul.images div.info div.meta form span.glyphicons.glyphicons-remove-sign.ratio {
    color: #a22020
}

div#lightbox_popup div.info div.meta form input,
section.inner_content ul.images div.info div.meta form input {
    height: 33px;
    padding: 0
}

div#lightbox_popup div.info div.meta h3,
section.inner_content ul.images div.info div.meta h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    font-size: 1em;
    font-weight: 400;
    white-space: normal
}

div#lightbox_popup div.info div.meta h3 span,
section.inner_content ul.images div.info div.meta h3 span {
    display: inline-block;
    font-family: "Glyphicons Regular";
    font-size: 0.7em;
    content: '';
    float: right
}

div#lightbox_popup div.info div.meta h3 span.moderator:hover,
section.inner_content ul.images div.info div.meta h3 span.moderator:hover {
    cursor: pointer
}

div#lightbox_popup div.info div.meta h3 span.unlocked:before,
section.inner_content ul.images div.info div.meta h3 span.unlocked:before {
    content: "\e205"
}

div#lightbox_popup div.info div.meta h3 span.locked:before,
section.inner_content ul.images div.info div.meta h3 span.locked:before {
    content: "\e204"
}

div#lightbox_popup div.info div.meta h3 span.remove,
section.inner_content div.info div.meta h3 span.remove {
    margin-left: 14px
}

div#lightbox_popup div.info div.meta h3 span.remove:before,
section.inner_content ul.images div.info div.meta h3 span.remove:before {
    content: "\e192"
}

div#lightbox_popup div.info div.meta span.primary_status,
section.inner_content ul.images div.info div.meta span.primary_status {
    display: inline-block;
    font-family: "Glyphicons Regular";
    content: ''
}

div#lightbox_popup div.info div.meta span.primary_status.moderator:hover,
section.inner_content ul.images div.info div.meta span.primary_status.moderator:hover {
    cursor: pointer
}

div#lightbox_popup div.info div.meta span.primary_status.ok:before,
section.inner_content ul.images div.info div.meta span.primary_status.ok:before {
    content: "\e194"
}

div#lightbox_popup div.info div.meta span.primary_status.remove:before,
section.inner_content ul.images div.info div.meta span.primary_status.remove:before {
    content: "\e193"
}

div#lightbox_popup div.info div.rating_info,
section.inner_content ul.images div.info div.rating_info {
    font-size: 1.6em
}

div#lightbox_popup div.info div.rating_info:after,
section.inner_content ul.images div.info div.rating_info:after {
    display: block;
    content: '';
    clear: both
}

div#lightbox_popup div.info div.rating_info a,
section.inner_content ul.images div.info div.rating_info a {
    transition: all 0.1s ease-out
}

div#lightbox_popup div.info div.rating_info a:hover,
section.inner_content ul.images div.info div.rating_info a:hover {
    color: #666
}

div#lightbox_popup div.info div.rating_info span.glyphicons-thumbs-up,
section.inner_content ul.images div.info div.rating_info span.glyphicons-thumbs-up {
    float: right
}

div#lightbox_popup div.info div.rating_info span.glyphicons-thumbs-down,
section.inner_content ul.images div.info div.rating_info span.glyphicons-thumbs-down {
    float: left
}

div#lightbox_popup a.wrapper,
div#lightbox_popup div.info {
    float: left
}

div#lightbox_popup a.wrapper {
    background-image: url("/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center
}

div#lightbox_window {
    overflow: hidden
}

div#lightbox_popup div.info {
    height: 100%;
    box-sizing: border-box;
    background: #fff
}

div#lightbox_popup div.info {
    position: relative;
    top: 0;
    left: 0;
    width: 360px
}

div#lightbox_popup div.info:after {
    display: block;
    content: '';
    clear: both
}

div#lightbox_popup div.info span.glyphicons {
    padding-right: 0
}

div#lightbox_popup div.info a.close {
    padding: 20px 20px 0 0
}

div#lightbox_popup div.info div.meta {
    width: 100%;
    position: absolute;
    bottom: 20px;
    box-sizing: border-box
}

div#lightbox_popup div.info div.meta div#paging {
    margin: 20px 20px 0 20px
}

div#lightbox_popup div.info div.meta div#paging a {
    font-size: 1.6em
}

div#lightbox_popup div.info div.meta div#paging:after {
    display: block;
    content: '';
    clear: both
}

div.tagged_people_wrapper {
    margin-top: 40px;
    margin-bottom: 40px
}

div.person_search_wrapper {
    padding: 20px 20px 0 20px
}

div.tagged_people_wrapper ul.tagged_people {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none
}

div.tagged_people_wrapper ul.tagged_people li.tagged {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: linear .1s;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 4px 10px;
    transition: linear .1s;
    background-color: #eee;
    font-size: 0.9em
}

div.tagged_people_wrapper ul.tagged_people li.tagged span.glyphicons {
    top: 2px;
    display: none
}

div.tagged_people_wrapper ul.tagged_people li.tagged:hover {
    background-color: #ccc
}

div.tagged_people_wrapper ul.tagged_people li.tagged a:hover {
    text-decoration: none !important
}

div.tagged_people_wrapper ul.tagged_people li.tagged:hover span.glyphicons {
    display: inline-block
}

/*****************************************************************************/

.k-header {
    color: #ffffff;
}

.k-window-titlebar.k-header {
    background-color: #191970;
}

.k-window-titlebar .k-state-hover, .k-overflow-container .k-primary:hover, .k-primary:hover {
    background-color: #191970;
    border-color: #191970;
}

.k-tooltip.custom_theme {
    background-color: #ffffff;
    color: #000000;
}

.custom_theme .k-tooltip-content {
    white-space: nowrap;
}

.custom_theme .k-callout-n {
    border-bottom-color: #ffffff;
}

.custom_theme .k-callout-e {
    border-left-color: #ffffff;
}

.custom_theme .k-callout-w {
    border-right-color: #ffffff;
}

.custom_theme .k-callout-s {
    border-top-color: #ffffff;
}

.k-tooltip.tmdb_theme_light {
    background-color: #97f8cd !important;
    color: #000 !important;
}

.tmdb_theme_light .k-callout-n {
    border-bottom-color: rgba(151,248,205,1) !important;
}

.tmdb_theme_light .k-callout-e {
    border-left-color: rgba(151,248,205,1) !important;
}

.tmdb_theme_light .k-callout-w {
    border-right-color: rgba(151,248,205,1) !important;
}

.tmdb_theme_light .k-callout-s {
    border-top-color: rgba(151,248,205,1) !important;
}

div.header.large.first.lazyloaded:before {
    filter: opacity(100) grayscale(100%) contrast(130%);
}

div.custom_bg {
    background-image: radial-gradient(circle at 20% 50%, rgba(9.80%, 9.80%, 43.92%, 0.98) 0%, rgba(9.80%, 9.80%, 43.92%, 0.88) 100%);
}

section div.header.first div.single_column {
    background: transparent;
}

section.inner_content section.header {
    color: #ffffff;
}

section.inner_content section.header a, section.inner_content section.header div.title a {
    color: #ffffff;
}

section.inner_content a, section.media_panel div.menu ul li.active a {
    color: #000;
}

section.inner_content a:hover, section.media_panel div.menu ul li.active a:hover {
    color: #191970;
}

section.inner_content section.header ul.actions li.tooltip a, section.inner_content section.header ul.actions li.video a {
    border-color: #ffffff;
    color: #ffffff;
}

section.inner_content section.header ul.actions li.tooltip a:hover {
    color: #191970;
    background-color: #ffffff;
    border-color: rgba(100.00%, 100.00%, 100.00%, 0.20);
}

p.new_button a, section.media_panel div.menu ul li.view_all a, section.inner_content section.header ul.actions li.video a:hover, div.episode div.info span.episode_number, section.review div.review_container div.inner_content div.teaser p a {
    color: #191970;
}

p.rounded.new_button a:hover {
    color: #ffffff;
}

section.media_panel div.menu ul li.active, section.inner_content ul.shortcut_bar li.selected, section.inner_content ul.shortcut_bar li:hover {
    border-color: #191970;
}

section.content_score div.content_score {
    background-color: rgba(9.80%, 9.80%, 43.92%, 0.60);
}

p.new_button.rounded, section.content_score div.content_score div, div.leaderboard div.histogram div.bar span {
    border-color: #191970;
    background-color: #191970;
    color: #ffffff;
}

.btn-link {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.btn-link:hover {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#483782;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

/*******************/
/*start play button*/
/*******************/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(0,0,0,.5);
}

.hovereffect a {
  font-size: 30px;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 35px;
  line-height: 30px;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 60% 0 0 0;
}

.hovereffect:hover a.play {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect > div.overlay > a > span {
  color: #fff;
}

.hovereffect > div.overlay > a:hover > span {
  color: #21D07A;
}

/*****************/
/*end play button*/
/*****************/
