#video video {
  width: 100%;
}

#progressBar {
  height: 5px;
  width: 0%;
  background-color: #35b44f;
  transition: width .4s ease-in-out;
}

body.is-seed .show-seed {
  display: inline;
}

body.is-seed .show-leech {
  display: none;
}

.show-seed {
  display: none;
}

#status code {
  font-size: 90%;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 1px dashed rgba(255,255,255,0.3);
  background-color: transparent;
}

.is-seed #hero {
  background-color: #081C24;
  transition: .5s .5s background-color ease-in-out;
}

#hero {
  background-color: #2a3749;
}

#status {
  color: #fff;
  font-size: 17px;
  padding: 5px;
}

#skip {
    color:       #FFF;
    position:    relative;
    width:       140px;
    border:      2px solid #454545;
    padding:     5px;
    font-weight: bold;
    cursor:      pointer;
    margin-top:  -100px;
    margin-left: calc(100vw - 170px);
}

/*a:link, a:visited {*/
  /*color: #30a247;*/
  /*text-decoration: none;*/
/*}*/

div.page_wrap {
    min-height: 100%;
    margin-bottom: -593px;
    /*margin-bottom: -597px;*/
}
