<!DOCTYPE html>
<html lang="es" class="no-js">
  <head>
    {% include "meta.html.j2" %}
    {% block    meta %}{% endblock %}
    {% if title %}
    <title>{{ title }} - PeliMe</title>
    {% else %}
    <title>Pelis y Series en línea - PeliMe</title>
    {% endif %}
  </head>

<body class="es v4">
  <div class="page_wrap movie_wrap">

      {% include "nav.html.j2" %}
      {# {% include "nav.p.html.j2" %} #}
      {# {% include "nav.d.html.j2" %} #}
      {# {% include "nav.k.html.j2" %} #}

      <main id="main">
          {% include "js.html.j2" %}
          {% block content %}{% endblock %}
          {% include "notification.html.j2" %}
      </main>
  </div>
  {% include "footer.html.j2" %}
  {% block    js %}{% endblock %}
  {% include "chat.html.j2" %}
</body>

</html>
