{% extends "base.html.j2" %}
{% block content %}
<div class="media">
    <h2 class="title">{{ subtitle | default("Último contenido") }}</h2>

    <div class="filter_wrapper right">
        <ul>
            <li>
                <span class="glyphicons glyphicons-chevron-down"></span> Ver
                <ul class="inner_menu">
                    <li>
                        <a id="backdrop_card" class="view_style" href="/ultimas/"
                           alt="Últimas agregadas" title="Últimas agregadas">Últimas agregadas</a>
                    </li>
                    <li>
                        <a id="poster_card" class="view_style" href="/populares"
                           alt="Mejor puntuadas" title="Mejor puntuadas">Mejor puntuadas</a>
                    </li>
                    <li>
                        <a id="mixed_compact" class="view_style" href="/en-cartelera/"
                           alt="En cartelera" title="En cartelera">En cartelera</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="clear"></div>

    <div class="results flex results_backdrop_card">

        {% if genres|length < 1 %}
        <div class="sin-resultados">
            <p>Cuando surge el vacio, algo debe llenarlo</p>
        </div>
        {% else %}
        {% for item in genres %}

        <div class="item backdrop card">
            <a class="result" href="{{url_for('media_in_category', category=item)}}"
                              title="{{item}}" alt="{{item}}">
                <img class="backdrop lazyload fade" data-sizes="auto"
                     src="/static/img/categoria/{{item}}.jpg" alt="{{item}}">
            </a>
        </div>

        {% endfor %}
        {% endif  %}

  </div>
{% endblock %}
