<script id="chatBroEmbedCode">
    /* Chatbro Widget Embed Code Start */
    function ChatbroLoader(chats, async) {
        async = !1 !== async;
        var params = {
                embedChatsParameters: chats instanceof Array ? chats : [chats],
                lang: navigator.language || navigator.userLanguage,
                needLoadCode: 'undefined' == typeof Chatbro,
                embedParamsVersion: localStorage.embedParamsVersion,
                chatbroScriptVersion: localStorage.chatbroScriptVersion
            },
            xhr = new XMLHttpRequest;
        xhr.withCredentials = !0, xhr.onload = function() {
            eval(xhr.responseText)
        }, xhr.onerror = function() {
            console.error('Chatbro loading error')
        }, xhr.open('GET', '//www.chatbro.com/embed.js?' + btoa(unescape(encodeURIComponent(JSON.stringify(params)))), async), xhr.send()
    }
    /* Chatbro Widget Embed Code End */
    {% if current_user.is_authenticated %}
    ChatbroLoader({
        encodedChatId: '{{CHATBRO_ID}}',
        chatLanguage: 'es',
        siteDomain: window.location.hostname,
        siteUserExternalId: '{{current_user.username}}',
        siteUserFullName: '{{current_user.username}}',
        siteUserAvatarUrl: '{{current_user.avatar(50)}}',
        siteUserProfileUrl: '/perfil/{{current_user.username}}',
        signature: '{{current_user.chatbro_signature()}}',
    });
    {% else %}
    ChatbroLoader({
        encodedChatId: '{{CHATBRO_ID}}',
        chatLanguage: 'es',
        siteDomain: window.location.hostname,
        allowedLoginMethods: [],
    });
    {% endif %}
</script>

<!--vim: set ts=8 sw=4 tw=0 ft=javascript :-->
