<p>Estimad@ {{dcma.name}},</p>

<p>A continuación se presentan los detalles de su reporte:</p>

<pre>
Nombre legal del títular de los derechos: {{dcma.rightholder_name}}
País del títular de los derechos: {{dcma.rightholder_country}}
URL donde se encontró el contenido infractor: {{dcma.local_uri}}
URL externa donde se hospeda dicho contenido: {{dcma.remote_uri}}

Teléfono de contacto: {{dcma.phone_number}}
Organización: {{dcma.organization}}
Su posición en la organización: {{dcma.position}}
</pre>

<p>
Si la información anterior es correcta por favor confirme de recibido para
iniciar el proceso DCMA.
</p>

<p><a href="{{confirm_url}}">{{confirm_url}}</p>

<p>Atentamente, el equipo de <a href="{{APP_URL}}">{{APP_URL}}</a><p>
