Estimad@ {{dcma.name}},

A continuación se presentan los detalles de su reporte:

Nombre legal del títular de los derechos: {{dcma.rightholder_name}}
País del títular de los derechos: {{dcma.rightholder_country}}
URL donde se encontró el contenido infractor: {{dcma.local_uri}}
URL externa donde se hospeda dicho contenido: {{dcma.remote_uri}}

Teléfono de contacto: {{dcma.phone_number}}
Organización: {{dcma.organization}}
Su posición en la organización: {{dcma.position}}

Si la información anterior es correcta por favor confirme de recibido para
iniciar el proceso DCMA.

{{confirm_url}}

Atentamente, el equipo de {{APP_URL}}
