<style>
    footer {
        background-image: url('{{footer_bg_image()}}');
    }
</style>

<footer class="single_column movie lazyload">
    <nav>
        <div class="join">
            <a href="{{url_for('index')}}">
            <img src="/static/img/peli.me.svg" width="130" height="116">
            </a>

            <a class="rounded"
            {% if current_user.is_authenticated %}
                href="{{url_for('profile')}}">
            {% else %}
                href="{{url_for('register')}}">
            {% endif %}
                ¡Hola {{current_user.username|default("Invitado")}}!
            </a>
        </div>

        <div>
            <h3>Donaciones</h3>
            <ul>
                <li><span class="glyphicons glyphicons-asterisk"></span> Bitcoin / BTC</li>
                <li><a class="donations"
                       href="https://live.blockcypher.com/btc/address/14DSQGwK1MQJ1SvihrZqmxW4wVXF9o8ExN/" target="_blank">
                    14DSQGwK1MQJ1SvihrZqmxW4wVXF9o8ExN
                    </a></li>

                <li><span class="glyphicons glyphicons-asterisk"></span> Ethereum / ETH</li>
                <li><a class="donations"
                       href="https://www.etherchain.org/account/d417223647a6C343De57cBa7FCd3634FCfAEECdD" target="_blank">
                    0xd417223647a6C343De57cBa7FCd3634FCfAEECdD
                    </a></li>

                <li><span class="glyphicons glyphicons-asterisk"></span> Litecoin / LTC</li>
                <li><a class="donations"
                       href="https://live.blockcypher.com/ltc/address/LNgSk5wQRP8QSBNcb4kPrYNZd5ycc6tdLQ/" target="_blank">
                    LNgSk5wQRP8QSBNcb4kPrYNZd5ycc6tdLQ
                    </a></li>
            </ul>
        </div>

        <div>
            <h3>PeliMe</h3>
            <ul>
                {# <li><a href="#">Tabla de Líderes</a></li> #}
                {# <li><a href="https://dc.now.sh/room/peli.me" target="_blank">Chat</a></li> #}
                {# <li><a href="https://twitter.com/search?f=tweets&q=%23pelime" target="_blank">Twitter</a></li> #}
                {# <li><a href="#">Contacto</a></li> #}
                <li><a href="https://gitlab.com/peli.me/peli.me" target="_blank">Código fuente</a></li>
                <li><a href="#">Guía de contribuciones</a></li>
            </ul>
        </div>
        <div>
            <h3>Legal</h3>
            <ul>
                <li><a href="{{url_for('dcma')}}">DCMA</a></li>
                <li><a href="{{url_for('legal', machote="terminos-de-uso")}}">Términos de uso</a></li>
                <li><a href="{{url_for('legal', machote="politica-de-privacidad")}}">Política de privacidad</a></li>
            </ul>
        </div>
    </nav>
</footer>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("header ul.primary li").hover(function(e) {
            if ($('header').hasClass('normal')) {
                $(this).find("ul.hide").toggle();
            }
        });

        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 60,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                    $('header.resize_on_scroll').removeClass("normal").removeClass("regular").addClass("smaller");
                } else {
                    if ($('header.resize_on_scroll').hasClass("smaller")) {
                        $('header.resize_on_scroll').addClass("normal").addClass("regular").removeClass("smaller");
                    }
                }
            });
        }
        window.onload = init();
    });
</script>
