<!--<script type="text/javascript" src="/static/js/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.bootstrap-growl.js"></script>
