{% extends "base.html.j2" %}
{% block meta %}
<meta http-equiv="refresh" content="30;url={{url_for('process', encoded_uri=upload.encode(upload.uri))}}">
{% endblock %}

{% block content %}
<div class="media">
    <section class="main_content content">
        <div class="carton">
            <h2 class="category">
                <span class="glyphicons glyphicons-exclamation-sign x1"></span>&nbsp;Procesando enlace
            </h2>
            <div class="content">
                <ul>
                    <li>
                        <a href="{{url_for('process', encoded_uri=upload.encode(upload.uri))}}">
                            Redireccionando
                        </a> a contenido en 30 segundos ...
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}
