{% extends "base.html.j2" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="/static/css/media.css" />
<link rel="stylesheet" type="text/css" href="/static/css/movie.css" />
{% endblock %}

{% block content %}
<section class="inner_content movie_content backdrop poster">
    <div class="header large border first lazyload">
        <div class="custom_bg">
            <div class="single_column">

                <section class="images inner">
                    <div class="poster hovereffect">
                        <div class="image_content">
                            <img class="poster" src="data:image/png;base64, {{media.fposter_b64}}" alt="{{media.title}}">
                        </div>
                        <div class="overlay">
                        {% if current_user.is_authenticated %}
                            {% if episode %}
                            <a class="play" href="{{url_for('ver', encoded_uri=media.encode(media.download_uri(episode)))}}">
                            {% else %}
                            <a class="play" href="{{url_for('ver', encoded_uri=media.encode(media.download_uri()))}}">
                            {% endif %}
                                <span class="glyphicons glyphicons-play"></span>
                            </a>
                        {% else %}
                            {% if episode %}
                            <a class="play" href="{{media.uri(episode)}}">
                            {% else %}
                            <a class="play" href="{{media.uri()}}">
                            {% endif %}
                                <span class="glyphicons glyphicons-play"></span>
                            </a>
                        {% endif %}
                        </div>
                    </div>

                    <div class="header_poster_wrapper">
                        <section class="header poster">
                            <div class="title" dir="auto">
                                <span><h2 class="22">{{media.title}}</h2>
                                    <span class="release_date">({{media.release_date.strftime('%Y')}})</span>
                                </span>
                            </div>
                            <ul class="auto actions">

                                <li class="chart">
                                    <div class="consensus">
                                        <div class="outer_ring">
                                            <div class="user_score_chart"
                                                 data-percent="{{media.score}}"
                                                 data-track-color="#204529" data-bar-color="#21d07a">
                                                <div class="percent">
                                                    <span class="icon icon-r{{media.score|round|int}}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">Popularidad</div>
                                </li>

                                {% if current_user.is_authenticated %}
                                    {% if current_user.has_favorite(media) %}
                                <li class="use_tooltip tooltip" title="Eliminar de favoritos">
                                    <a id="favourite" class="favourite true"
                                       href="{{url_for('favorite_delete',
                                       title_unique=media.title_unique)}}">
                                        <span class="glyphicons glyphicons-heart x1"></span>
                                    </a>
                                </li>
                                    {% else %}
                                <li class="use_tooltip tooltip" title="Agregar a favoritos">
                                    <a id="favourite" class="favourite false"
                                        href="{{url_for('favorite_add',
                                        title_unique=media.title_unique)}}">
                                        <span class="glyphicons glyphicons-heart x1"></span>
                                    </a>
                                </li>
                                    {% endif %}
                                    {% if current_user.is_admin%}
                                <li class="use_tooltip tooltip" title="Editar metadatos">
                                    <a id="favourite" class="favourite false"
                                        href="{{url_for('edit_media_metadata',
                                        media_type=media.media_type,
                                        title_unique=media.title_unique)}}">
                                        <span class="glyphicons glyphicons-pencil x1"></span>
                                    </a>
                                </li>
                                    {% endif %}
                                {% else %}
                                <li class="use_tooltip tooltip"
                                    title="Inicie sesión para agregar esta película a su lista de favoritos">
                                    <a id="favourite" class="no_click add_to_account_list favourite false"
                                        href="#"><span class="glyphicons glyphicons-heart x1"></span></a>
                                </li>
                                {% endif %}

                            </ul>

                            <div class="header_info">
                                <h3 dir="auto">Resumen</h3>
                                <div class="overview" dir="auto">
                                    <p>{{media.description|truncate(330)}}</p>
                                </div>
                            </div>


                            <div class="pt-5">
                                <label>¿Te ayudamos a escoger?&nbsp; &nbsp;</label>
                                <a href="{{url_for('media_random')}}" class="link_button">Película sugerida</a>
                            </div>


                        </section>
                    </div>

                </section>

            </div>
        </div>
    </div>

    <div id="video_list" style="width:80%; margin:auto; padding-top:2em;">
            {% if uploads|length < 1 %}
            <div class="sin-publicaciones">
                <p>Aún no hay publicaciones disponibles</p>
            </div>
            {% else %}
            <table class="card changes_v4" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Audio</th>
                        <th>Subtitulos</th>
                        <th>Calidad</th>
                        <th>Proveedor</th>
                        <th>Ver</th>
                        <th>Descargar</th>
                        <th>Reportar</th>
                        <th>Compartido por</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in uploads %}
                    <tr>
                        <td>
                            <img src="/static/img/audio/{{item.audio}}.svg"
                                 alt="{{item.audio}}" width="30">
                        </td>
                        <td>{{item.subtitle}}</td>
                        <td>{{item.quality}}</td>

                        <td>
                        {% if item.provider() == "MAGNET" %}
                            <a href="{{url_for('ver', encoded_uri=item.encode(item.uri))}}">
                        {% else %}
                            <a href="{{item.uri}}" title="{{item.uri}}">
                        {% endif %}
                                {{item.provider()}}
                                <span class="glyphicons glyphicons-new-window">
                            </a>
                        </td>

                        {% if current_user.is_authenticated %}
                            <td>
                                <a href="{{url_for('ver', encoded_uri=item.encode(item.download_uri))}}">
                                    <span class="glyphicons glyphicons-eye-open">
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('download', encoded_uri=item.encode(item.download_uri))}}">
                                    <span class="glyphicons glyphicons-download-alt">
                                </a>
                            </td>

                            {% if item.uploader == current_user %}
                                <td>
                                    <a  href="{{url_for('upload_edit',
                                        media_type=item.media.media_type,
                                        title_unique=item.media.title_unique,
                                        upload_hash=item.hash)}}"
                                    >
                                    <span title="Editar"
                                          class="glyphicons glyphicons-pencil">
                                    </span>
                                    </a>

                                    &nbsp;
                                    <a  href="{{url_for("upload_delete",
                                        media_type=item.media.media_type,
                                        title_unique=item.media.title_unique,
                                        upload_hash=item.hash)}}"
                                    >
                                    <span title="Eliminar link roto"
                                          class="glyphicons glyphicons-remove">
                                    </span>
                                    </a>
                                </td>
                            {% else %}
                                {% if item.strike(current_user) %}
                                <td><a href="{{url_for("unreport", upload_hash=item.hash)}}">
                                    <span title="Deshacer reporte de link roto"
                                          class="glyphicons glyphicons-exclamation-sign">
                                    </span>
                                    </a>
                                </td>
                                {% else %}
                                <td>
                                    <a href="{{url_for("report", upload_hash=item.hash)}}">
                                    <span title="Reportar link roto"
                                          class="glyphicons glyphicons-warning-sign">
                                    </span>
                                    </a>

                                    {% if current_user.is_admin %}
                                    &nbsp;
                                    <a  href="{{url_for("upload_delete",
                                        media_type=item.media.media_type,
                                        title_unique=item.media.title_unique,
                                        upload_hash=item.hash)}}"
                                    >
                                    <span title="Eliminar link roto"
                                          class="glyphicons glyphicons-remove-circle">
                                    </span>
                                    </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td>
                                <span title="Inicie sesión para ver contenido en directo"
                                      class="glyphicons glyphicons-eye-open">
                                </span>
                            </td>

                            <td>
                                <span title="Inicie sesión para descargar contenido"
                                      class="glyphicons glyphicons-download-alt">
                                </span>
                            </td>

                            <td>
                                <span title="Inicie sesión para reportar un link roto"
                                      class="glyphicons glyphicons-warning-sign">
                                </span>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{url_for('profile', username=item.uploader.username)}}">
                                {{item.uploader.username}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3>Comentarios</h3><hr>
            {# <script data-isso="//disqus.peli.me/" #}
            <script data-isso="//comments.comment.sh/pelime"
                    data-isso-lang="es"
                    data-isso-css="true"
                    data-isso-reply-to-self="true"
                    data-isso-require-author="false"
                    data-isso-require-email="false"
                    data-isso-max-comments-top="10"
                    data-isso-max-comments-nested="5"
                    data-isso-reveal-on-click="5"
                    data-isso-avatar="true"
                    data-isso-avatar-bg="#f0f0f0"
                    data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
                    data-isso-vote="true"
                    data-vote-levels=""
                    {# src="//disqus.peli.me/js/embed.min.js"> #}
                    src="//comments.comment.sh/pelime/js/embed.min.js">
            </script>
            <section id="isso-thread"></section><br>

            {# Other alternatives #}
            {# - https://comment.sh/ & https://posativ.org/isso/ #}
            {# - http://docs.commento.io/installation-docker.html #}
            {# - https://disqus.com/ #}
            {% endif %}
    </div>

    <style>
        div.header.large.first:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: block;
            filter: opacity(0) grayscale(100%) contrast(130%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url('data:image/png;base64, {{media.bposter_b64}}');
            will-change: opacity;
            transition: filter 1s;
        }
    </style>

    <script>
        $(function() {
            $('.user_score_chart').easyPieChart({
                lineCap: 'round',
                lineWidth: 6,
                scaleColor: false,
                size: 60,
                animate: {
                    duration: 2000,
                    enabled: true
                }
            });
        });
    </script>
</div>
{% endblock %}
