<li>
    <strong>URL del contenido:</strong>
    Se soportan enlaces <strong>MP4</strong> en descarga directa,
    <a href="https://ia800201.us.archive.org/12/items/BigBuckBunny_328/BigBuckBunny_512kb.mp4">por ejemplo</a>.
    En descarga p2p (MAGNET),
    <a href="magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent">por ejemplo</a>.
    Y desde otros proveedores, como RapidVideo, OpenLoad,
    <a href="https://ytdl-org.github.io/youtube-dl/supportedsites.html">etc</a>.
</li>

<li>
    Antes de agregar un enlace <strong>DIRECTO</strong> / <strong>MAGNET</strong>, se recomienda validarlo
    desde <a href="{{url_for('ver_direct')}}">{{url_for('ver_direct')}}</a>.
</li>

{% if current_user.is_mod %}
<li>
    Para agregar varios links al mismo tiempo use el modo <a id="al-mayoreo" href="#">al mayoreo</a>
</li>

<script>
    $("#al-mayoreo").attr("href", window.location.href + "/al-mayoreo")
</script>
{% endif %}
