
<meta charset="utf-8">
<meta name="description" content="PeliMe, el portal para ver películas y series en línea.">
<meta name="keywords" content="Peliculas, Pelis, Shows, Series, Trailers, Estrenos">

<!--responsive design -->
<meta http-equiv="cleartype" content="on">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=1120">

<!--website icon-->
<link rel="apple-touch-icon" sizes="180x180" href="/static/img//apple-touch-icon.png">
<link rel="shortcut icon" type="image/icon" href="/static/img/favicon.ico"/>
<link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img//manifest.json">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#00d474">
<meta name="msapplication-TileColor" content="#00d573">
<!--<meta name="theme-color" content="#00d573">-->

<link rel="preconnect" href="https://fonts.gstatic.com/"  crossorigin>
<link rel="preconnect" href="https://image.tmdb.org/"     crossorigin>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />

<link rel="preload" href="/static/fonts/glyphicons-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/glyphicons-social-regular.woff2" as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" type="text/css" href="/static/css/index.css"  />
{# <link rel="stylesheet" type="text/css" href="/static/css/footer.big.css"   /> #}
<link rel="stylesheet" type="text/css" href="/static/css/footer.small.css" />

<script src="/static/js/lazysizes.v2.0.0.min.js" async></script>
<script src="/static/js/index.js"></script>
