{% extends "base.no.search.html.j2" %}
{% block meta %}
<script src="/static/js/afterglowplayer@1.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/ver.css" />
{% endblock %}

{% block content %}
    <video class="afterglow" id="myvideo" width="1280" height="720">
      <source
        type="video/mp4"
        src="https://ia802807.us.archive.org/24/items/UGAMbvcxcvbcxb/CA-ZO-T4-31.mp4"
        {# src="{{uri}}" #}
      />
    </video>
{% endblock %}
