<table class="table">
    <tbody>
    {% for product in products %}
    <tr>
        <th>{{product.email_src}}</th>
        <th><a href="{{url_for('user_edit')}}">configurar</a></th>
        <th><a href="{{url_for('product_delete', product=product.email_src)}}">eliminar</a></th>
    </tr>
    {% endfor %}
    <tbody>
</table>
