{% extends "base.html.j2" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="/static/css/media.css" />
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
{% endblock %}

{% block content %}
    <div id="sticky_anchor"></div>
    <div id="account_scroll" class="block">
        <div class="page_loading light_blue"></div>
        <div class="inner_content">
            <div class="content">
                <ul class="user_menu menu">
                    <li class="border_color light_blue"><a href="{{url_for('profile')}}">Sobre</a></li>
                    <li class="border_color light_blue selected"><a href="{{url_for('profile_edit')}}">Editar</a></li>
                    {# <li class="border_color light_blue selected"><a href="{{url_for('profile_delete')}}">Eliminar</a></li> #}
                </ul>
            </div>
        </div>
    </div>

    <div class="account_page_data">
        <div class="inner_block" style="margin-top:20px">
            <div class="inner_content">
                <div class="content">
                    <form role="form" method="post" accept-charset="utf-8" name="panel_editar">
                        {{form.hidden_tag()}}

                        {{form.username.label()}}
                        {{form.username()}}

                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        {{form.about_me.label()}}
                        {{form.about_me()}}
                        {% for error in form.about_me.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        {{form.phrase.label()}}
                        {{form.phrase()}}
                        {% for error in form.phrase.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        {{form.email.label()}}
                        {{form.email()}}

                        {% for error in form.email.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        {{form.password.label()}}
                        {{form.password()}}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        {{form.confirm.label()}}
                        {{form.confirm()}}
                        {% for error in form.confirm.errors %}
                            <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <div id="submit_buttons">
                        {{form.submit(class_="right reset")}}
                        {# <p class="reset"><a href="{{url_for('panel')}}">Cancelar</a></p> #}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var media_type = '';
var requestParams = {};
var currentPage = 1;

function pushGAEvent(href) {
    ga('set', 'page', href);
    ga('send', 'pageview');
}

var pageLoader = $('div.page_loading');

function activatePageLoader(loader) {
    loader.addClass('on');
}

function deactivatePageLoader(loader) {
    loader.addClass('fade_out');
    loader.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) {
        loader.removeClass('fade_out').removeClass('on');
    });
}

$(document).ready(function(){
    $('div.card.v4 div.overview').dotdotdot();

    var wrap = $("#account_scroll");
    var wrap_top = wrap.offset().top;

    $(window).on("scroll", function(e) {
        if ($(window).scrollTop() > (wrap_top - 106)) {
            wrap.addClass("stick");
            $('#sticky_anchor').height(wrap.outerHeight());
        } else {
            wrap.removeClass("stick");
            $('#sticky_anchor').height(0);
        }
    });

    $('ul.user_menu.menu li a').on('click', function() {
        var contentDiv = $('div.account_page_data');
        var contentHeight = contentDiv.outerHeight();
        contentDiv.css({ height: contentHeight })
        contentDiv.html('');

        $('ul.user_menu.menu li').removeClass('selected');
        $(this).parent().addClass('selected');

        if (wrap.hasClass('stick')) {
            $('body').scrollTo((wrap_top - 105), 0);
        }

        var href = $(this).attr('href');
        History.pushState({}, $(this).attr('data-title'), href);

        media_type = 'movie';
        clearWithTextSearch();

        $.ajax({
            url: $(this).attr('data-partial'),
            beforeSend: function() {
                activatePageLoader(pageLoader);
            }
        }).fail(function() {
            showError('Oops!, Hay un problema.');
            deactivatePageLoader(pageLoader);
        }).done(function(response) {
            deactivatePageLoader(pageLoader);

            contentDiv.css({ height: 'auto' }).html(response);
            $('div.card.v4 div.overview').dotdotdot();
            $("time.timeago").timeago();


            pushGAEvent(href);

        });
    });

    $("div.account_page_data").on('click', 'a.sort_order', function(e) {
        $('a.sort_order').toggleClass('selected hide');
        $('li.selected a.filter_list').click();
    });

    $("div.account_page_data").on('click', 'div.title_header h3.scroll a', function(e) {
        media_type = $(this).attr('data-media-type');
        $('div.title_header h3').removeClass('on');
        $(this).parent().addClass('on');

        clearWithTextSearch();
    });

    $("div.account_page_data").on('click', ' a.filter_list', function(e) {
        var selected_sort = $(this).attr('data-sort-by');

        if ( selected_sort == 'default' || selected_sort == 'upcoming' ) {
            $('div.order_filter').addClass('hide');
        } else {
            $('div.order_filter').removeClass('hide');
        }

        if ( (selected_sort == 'upcoming' || selected_sort == 'account_rating' || selected_sort == 'created_at') && $('#with_text_search').val() ) {
            clearWithTextSearch();
        }

        setFilter(selected_sort);
    });

    $("div.account_page_data").on('click', 'div.title_header h3.scroll a, a.filter_list', function(e) {
        if (wrap.hasClass('stick')) {
            $('body').scrollTo((wrap_top - 105), 0);
        }

        var href = $(this).attr('href');
        var partial_href = $(this).attr('data-partial');

        History.pushState({}, $(this).attr('data-title'), href);
        $.extend(requestParams, { sort_by: $(this).attr('data-sort-by') });

        filterItems(partial_href);


        pushGAEvent(href);

    });

    $("div.account_page_data").on('click', 'a.item_search_button', function(e) {
        var selected_form = $('form.item_search_form');
        selected_form.toggleClass('hide');

        $('div.content div.title_header div.filter_group div.sort_filter').toggleClass('hide');

        selected_form.one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e) {
            $('form.item_search_form input').focus();
        });
    });

    $("div.account_page_data").on('input', '#with_text_search', function(e) {
        setFilter('popularity');
        filterItems($(this).attr('data-partial'), { sort_by: 'popularity', with_text_query: $(this).val() });
    });

    $("div.account_page_data").on('click', 'a.load_more', function(e) {
        var currentPage = $(this).attr('data-current-page');
        var nextPage = $(this).attr('data-next-page');
        var href = $(this).attr('data-partial');

        loadPage(href, currentPage, nextPage);
    });

    $("div.account_page_data").on('click', 'a.remove_list_item', function(e) {
        var href = $(this).attr('href');
        var cardToRemove = $(this).attr('data-media-card');

        $.ajax({
            url: href,
            method: 'DELETE',
            beforeSend: function() {
                activatePageLoader(pageLoader);
            }
        }).fail(function() {
            showError('Oops!, Hay un problema.');
            deactivatePageLoader(pageLoader);
        }).done(function(response) {
            deactivatePageLoader(pageLoader);

            $('#' + cardToRemove).fadeOut(500, function(){
                $(this).remove();
            });
        });
    });

});

function loadPage(href, currentPage, nextPage) {
    $.ajax({
        url: href,
        beforeSend: function() {
            activatePageLoader(pageLoader);
            $('p.load_more').addClass('hide');
            $('#pagination_page_' + currentPage + ' div.loading_wrapper').removeClass('hide');
        }
    }).fail(function() {
        showError('Oops!, Hay un problema.');
        deactivatePageLoader(pageLoader);
    }).done(function(response) {
        $('#pagination_page_' + currentPage).addClass('hide');
        $('.items_wrapper').append(response);

        deactivatePageLoader(pageLoader);
        $('#results_page_' + nextPage + ' div.card.v4 div.overview').dotdotdot();

        createInview($('#pagination_page_' + nextPage));
        $("time.timeago").timeago();
    });
}

function createInview(element) {
    new Waypoint.Inview({
        element: element,
        enter: function(direction) {
            var loadMore = $(this.element).find('a.load_more');
            loadMore.click();

            this.disable();
        },
        offset: {
            bottom: -800
        }
    });
}

function setFilter(filter) {
    $('span.sort_text').addClass('hide');
    $('span#sort_by_' + filter).removeClass('hide');

    $('ul.filters li').removeClass('selected');
    $('li#filter_by_' + filter).addClass('selected');
}

function clearWithTextSearch() {
    $('form.item_search_form').addClass('hide');
    $('#with_text_search').val('');
    delete(requestParams.with_text_query);
}

function filterItems(partial_href, params) {
    var data = $.extend(requestParams, { sort_order: $('a.sort_order.selected').attr('data-order') });

    if ( params ) {
        $.extend(data, params);
    }

    $.ajax({
        url: kendo.format("{0}/{1}", partial_href, media_type),
        data: data,
        beforeSend: function() {
            activatePageLoader(pageLoader);
        }
    }).fail(function() {
        showError('Oops!, Hay un problema.');
        deactivatePageLoader(pageLoader);
    }).done(function(response) {
        $('div.items_wrapper').html(response);

        deactivatePageLoader(pageLoader);
        $('div.card.v4 div.overview').dotdotdot();
        $("time.timeago").timeago();
    });
}

$(function() {
    $('div.header .user_score_chart').easyPieChart({
        lineCap: 'round',
        lineWidth: 6,
        scaleColor: false,
        size: 60,
        animate: {
            duration: 1700,
            enabled: true
        }
    });
});
</script>
{% endblock %}
