Estimad@ {{user.username}},

Se ha solicitado la recuperación de su cuenta. Si ha sido usted por favor haga click en el siguiente vínculo para confirmar, de lo contrario ignore este correo.

{{confirm_url}}

Sinceramente,

El equipo de {{APP_URL}}
