<p>Estimad@ {{user.username}},</p>

<p>Se ha solicitado la recuperación de su cuenta. Si ha sido usted por favor haga click en el siguiente vínculo para confirmar, de lo contrario ignore este correo.</p>

<p><a href="{{confirm_url}}">{{confirm_url}}</p>

<p>Sinceramente,<p>

<p>El equipo de <a href="{{APP_URL}}">{{APP_URL}}</a><p>
