<div class="search_bar">
    <section class="search">
        <div class="sub_media">
            <form id="search_form" action="/buscar" method="POST" accept-charset="utf-8">
                <img id="dictation" onclick="startDictation()" src="/static/img/mic.png" />
                <input dir="auto" id="search_v4" name="query" type="text" tabindex="2"
                       autocorrect="off" autofill="off" autocomplete="off"
                       spellcheck="false" placeholder="Buscar películas o series" value="">
                <input type="submit">
            </form>
        </div>
    </section>
</div>

<script>
function startDictation() {
  if (window.hasOwnProperty('webkitSpeechRecognition')) {

    micImageRecording();
    var recognition = new webkitSpeechRecognition();

    recognition.continuous     = false;
    recognition.interimResults = false;

    recognition.lang = "es-MX";
    recognition.start();

    recognition.onresult = function(e) {
      document.getElementById('search_v4').value = e.results[0][0].transcript;
      recognition.stop();
      micImageNormal();
      document.getElementById('search_form').submit();
    };

    recognition.onerror = function(e) {
      recognition.stop();
      micImageNormal();
    }
  }
}

function micImageRecording() {
   document.getElementById("dictation").src="/static/img/mic-recording.png";
}

function micImageNormal() {
   document.getElementById("dictation").src="/static/img/mic.png";
}
</script>
