{% extends "base.html.j2" %}
{% block content %}
<div class="media">
    <section class="main_content content">
        <h1>Términos y condiciones</h1>

        <br>
        <h2>Términos de servicio</h2>
        <p>
            <a href="{{APP_URL}}">{{APP_URL}}</a> se reserva el derecho de
            eliminar cualquier enlace o cuenta que comprometa la seguridad del
            servidor, que apunte a contenido no autorizado o que sea maligno.
        </p>

        <p>
            Bajo ninguna circunstancia deben cargarse links que:
            <ol>
                <li>Apunten a contenido protegido por leyes de derechos de autor desde su país.</li>
                <li>Apunten a contenido que sea ilegal desde la jurisdicción de su país de origen.</li>
            </ol>
        </p>

        <h2>Términos de uso</h2>
        <p>
            <a href="{{APP_URL}}">{{APP_URL}}</a> no asume ninguna
            responsabilidad por enlaces perdidos o corruptos, archivos o URLs
            de archivos extraviados. Es responsabilidad del usuario realizar un
            seguimiento de esta información.
        </p>

        <h2>Acción legal</h2>
        <p>
            Estos términos de servicio están sujetos a cambios sin previo
            aviso. Al usar <a href="{{APP_URL}}">{{APP_URL}}</a>, el usuario
            acepta no involucrar a <a href="{{APP_URL}}">{{APP_URL}}</a> en
            ningún tipo de acción legal. <a href="{{APP_URL}}">{{APP_URL}}</a>
            dirige la responsabilidad legal total del contenido de los enlaces
            que se cargan a usuarios individuales, y cooperará con los
            propietarios de los derechos de autor y las entidades encargadas de
            hacer cumplir la ley en el caso de que los enlaces cargados se
            consideren en violación de estos términos de servicio.

            Todos los archivos y enlaces utilizados tienen derechos de autor de
            sus respectivos dueños. <a href="{{APP_URL}}">{{APP_URL}}</a> no es
            responsable del contenido de los enlaces cargados, ni está afiliado
            con ninguna entidad que represente dicho contenido.
        </p>
    </section>
</div>
{% endblock %}
