{% extends "base.html.j2" %}
{% block content %}
<div class="media">
    <section class="main_content content">
        <h2>Restaurar cuenta</h2>

        <p>
            Cada vez somos más gracias a tí, para accesar a las características avanzadas de <a href="https://peli.me">https://peli.me</a> inicie sesión. Si aún no tiene una cuenta, <a href="/registrarse">registrarse</a> es gratis y solo toma un par de minutos.
        </p>

        <p>
            Si se inscribió pero no recibió correo de verificación, haga <a
                href="/reenviar/confirmacion">click aquí</a> para
            reenviarlo.
        </p>

        <form role="form" method="post" accept-charset="utf-8" name="login">
            {{form.hidden_tag()}}

            {{form.password.label()}}
            {{form.password()}}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

            {{form.confirm.label()}}
            {{form.confirm()}}
            {% for error in form.confirm.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

            {{form.submit(class_="right center")}}
            <p class="right reset"><a href="/">Cancelar</a></p>
        </form>
    </section>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#password').focus();
        });
    </script>
</div>
{% endblock %}
