{% extends "base.html.j2" %}
{% block content %}
<div class="media">
    <section class="main_content content">
        <h2>Recuperar cuenta</h2>

        <p>
            Cada vez somos más gracias a tí, para accesar a las características avanzadas de <a href="https://peli.me">https://peli.me</a> inicie sesión. Si aún no tiene una cuenta, <a href="/registrarse">registrarse</a> es gratis y solo toma un par de minutos.
        </p>

        <form role="form" method="post" accept-charset="utf-8" name="recover">
            {{form.hidden_tag()}}

            {{form.email.label()}}
            {{form.email()}}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

            {# <br><br>{{form.captcha()}}<br> #}
            <br><br><div class="left">
                {{form.captcha()}}
            </div><br>
            {% for error in form.captcha.errors %}
                <span style="color: red;">
                    [Falló la prueba de recaptcha, por favor vuelva a intentarlo]
                </span><br><br>
            {% endfor %}

            {{form.submit(class_="right center")}}
            <p class="right reset"><a href="/">Cancelar</a></p>
        </form>
    </section>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#email').focus();
        });
    </script>
</div>
{% endblock %}
