{% extends "base.no.search.html.j2" %}
{% block meta %}
<script src="/static/js/afterglowplayer@1.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/ver.css" />
{% endblock %}

{% block content %}
    <video class="afterglow" id="myvideo" width="1280" height="720"
           src="{{uri}}"
           autoplay="autoplay" data-skin="light">
      {# alternative way
         <source type="video/mp4" src="{{uri}}" />
         #}
    </video>
{% endblock %}

{% block js %}
<script>
    //force reload if video src is invalid ==================
    // var video_container = document.getElementById('myvideo');
    // video_container.addEventListener('error', function() {
    //   if (video_container.networkState === 3) {
    //     var current_uri = window.location.href
    //     current_uri = current_uri.replace("/v/", "/process/")
    //     window.location.replace(current_uri + "/force")
    //   }
    // });
    //end force reload ======================================

    // go back in history if video src is invalid ===========
    var video_container = document.getElementById('myvideo');
    video_container.addEventListener('error', function() {
        if (video_container.networkState === 3) {
            $.blockUI({
                message: '<h1>El video no se encuentra disponible, vuelva a intentarlo más tarde.</h1>',
                timeout: 2000
            });
            window.location.replace(document.referrer)
        }
    });
    //end go back in history ================================

    function clickOrigin(e){
        var target = e.target;
        var tag = [];
        tag.tagType = target.tagName.toLowerCase();
        tag.tagClass = target.className.split(' ');
        tag.id = target.id;
        tag.parent = target.parentNode;

        return tag;
    }

    function requestFullscreen() {
        afterglow.getPlayer('myvideo').requestFullscreen();
    }

    function handleFullscreen(e) {
        tagsToIdentify = ['img','a', 'video'];
        elem = clickOrigin(e);
        identified = false;

        for (i=0;i<tagsToIdentify.length;i++){
            if (elem.tagType == tagsToIdentify[i]){
                identified = true;
            }
        }

        if (!identified) {
            requestFullscreen();
        }
    }

    //go fullscreen when pressed tag is NOT an img/link(a)
    document.body.onclick = handleFullscreen;

    {% if next_uri %}
    afterglow.on('myvideo','ended', function() {
        window.location.replace('{{next_uri}}')
    });

    //double click function go forward or reward +/- n seconds
    video_container.addEventListener('dblclick', function(event) {
        // add/remove X seconds
        var step = {{FORWARD_REWARD_SECS}};
        var current_time = video_container.currentTime;
        var next_time;
        var x_coordinate = event.clientX;

        if (x_coordinate < screen.width / 2) {
            next_time = current_time - step;
            if (next_time < 0) {
                next_time = 0
            }
        } else {
            next_time = current_time + step;
            if (next_time > video_container.duration) {
                next_time = video_container.duration
            }
        }

        video_container.currentTime = next_time;
    })

    // skip intro button
    var init = 0;
    var skip_intro_secs = {{skip_intro_secs}};
    video_container.addEventListener('play', function() {
        if (init==0) {
            var div = document.createElement('div');
            div.textContent = 'SKIP INTRO';
            div.id ='skip';
            document.querySelector('.afterglow').appendChild(div);

            div.addEventListener('click', function() {
                document.querySelector('.afterglow').removeChild(div);
                video_container.currentTime = skip_intro_secs;
            });

            init++;
            setTimeout(function(){div.style.display ='none';},20000)
        }
    });
    {% endif %}
</script>
{% endblock %}
