{% extends "base.html.j2" %}
{% block content %}
<div class="media">
    <section class="main_content content">
        <h2>Ver pelí con enlace directo</h2>

        <p>
            Para visualizar contenido con enlace directo, verifique que su link
            cumple con las siguientes características.

            <lu>
                <li>El archivo original está en formato MP4 / H264</li>
                <li>El link se encuentra disponible en descarga directa a través del protocolo HTTP o HTTPS</li>
                <li>Si el link se encuentra disponible como enlace MAGNET, este
                    debió generarse con algún cliente WEBRTC válido, por ejemplo:
                    <dl>
                        <li><a href="https://webtorrent.io/desktop/">https://webtorrent.io/desktop/</a></li>
                        <li><a href="https://instant.io/">https://instant.io/</a></li>
                        <li><a href="https://lofitorrent.js.org/">https://lofitorrent.js.org/</a></li>
                    </dl>
                </li>
            </lu>
        </p>

        <form role="form" method="post" accept-charset="utf-8" name="ver_direct">
            {{form.hidden_tag()}}

            {{form.uri.label()}}
            {{form.uri()}}

            {% for error in form.uri.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

            {{form.submit(class_="right center")}}
            <p class="right reset"><a href="{{request.referrer}}">Cancelar</a></p>
        </form>
    </section>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#uri').focus();
        });
    </script>
</div>
{% endblock %}
